/* .col-sm-4 img{
    height: 100px;
    width: 100px;
} */
.container-fluid{
    background-image: url("../Images/bgnd.webp");
    background-position: center;
    height: 100px;
}
.bg-warning{
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
body{
    background-image: url("../Images/bckground.jpg");
    
}
.p-3{
    border-radius: 10px;
    border: 1px;
}
.p-2{
    border-radius: 8px;
    height: 30px;
    width: 80px;
}
.editform{
    height: 400px;
    width: 90%;
    /* background-color: aqua; */
}
.congrats{
    height:350px ;
    width:700px ;
    position: absolute;
    left: 300px;
    top: 300px;
    display: none;
    background-color: blue;
    background-image: url("../Images/congrats2.jpg");
    background-size: cover;
    background-position: center;
}
